<h1 class="header">HEADER</h1>
{{#each (array
    (object href='./catalog-category.html' text='sale' icon='@images/icon-tag-discount.svg' class='tag-discounts')
    (object href='./catalog-category.html' text='bonuses' icon='@images/icon-tag-lightning.svg' class='tag-cashback')
) as |tag|}}
<li class="under-header-tags__list-item">
    <a href="{{ tag.href }}">
        <span class="tag__icon">
            <div>{{ tag.icon }}</div>
            <img
                aria-hidden="true"
                src="{{ tag.icon }}"
                alt=""

                loading="eager"
            />
        </span>
        <span class="tag__text">{{ tag.text }}</span>
    </a>
</li>
{{/each}}